<div class="profile">
  <h2>経歴</h2>
  <ul>
    <li><a href="https://jp.corp-sansan.com/">Sansan株式会社</a> DSOC 研究員 (2018/01-)</li>
    <li><a href="https://recruit-tech.co.jp/">株式会社リクルートテクノロジーズ</a> (2015/4 - 2017/12)</li>
    <li><a href="http://www.naist.jp/">奈良先端科学技術大学院大学</a> 情報科学研究科 修士 (2013/4 - 2015/3)
    </li>
  </ul>
  <h2>ブログ</h2>
  <ul>
    <li><a href="https://yag-ays.github.io/">https://yag-ays.github.io/</a> </li>
    <li><a href="http://wolfin.hatenablog.com/">http://wolfin.hatenablog.com/</a></li>
    <li><a href="http://yag.xyz/blog/">http://yag.xyz/blog/</a> (2015/2 - 2016/7)</li>
    <li><a href="http://yagays.github.io/">http://yagays.github.io/</a> (2012/5 - 2015/3)</li>
  </ul>
  <h2>外部発信</h2>
  <h3>インタビュー</h3>
  <ul>
    <li><a href="https://enterprisezine.jp/dbonline/detail/11179">データという水を得た魚となり情報科学の研究へ――Sansan DSOC 奥田裕樹さん (1/3)：EnterpriseZine（エンタープライズジン）</a></li>
    <li><a href="https://mikata.shingaku.mynavi.jp/article/45912/">【シゴトを知ろう】データサイエンティスト 編</a></li>
    <li><a href="https://mikata.shingaku.mynavi.jp/article/45913/">【シゴトを知ろう】データサイエンティスト ～番外編～</a></li>
  </ul>
  <h3>メディア</h3>
  <ul>
    <li><a href="https://employment.en-japan.com/engineerhub/entry/2019/01/22/103000">自然言語処理をサービスで活用しよう！ Sansanに学ぶ「多種多様なテキスト」からのデータ分析</a></li>
  </ul>
  <h3>ポスター発表</h3>
  <ul>
    <li>2018/11/3-7 <strong>「Bidirectional LSTMを用いた日本語氏名の姓名分割」</strong> <a href="http://ibisml.org/ibis2018/">IBIS2018 | 第21回情報論的学習理論ワークショップ</a>
      <ul>
        <li><a href="https://buildersbox.corp-sansan.com/entry/2018/11/16/113000">【レポート】IBIS2018で発表してきました - Sansan Builders Box</a></li>
      </ul>
    </li>
  </ul>
  <h3>講演</h3>
  <ul>
    <li>2018/11/10 <strong>「文字のゆらぎをどう扱うか？ - Sansanにおける自然言語処理の活用」</strong><a href="https://jp.corp-sansan.com/sbb2018/">Sansan Builders Box 2018</a>
      <ul>
        <li><a href="https://speakerdeck.com/sansanbuildersbox/how-to-handle-orthographical-variants">文字のゆらぎをどう扱うか？ - Sansanにおける自然言語処理の活用/How to handle orthographical variants? - Speaker Deck</a></li>
        <li><a href="https://codezine.jp/article/detail/11264">Sansanはデータ分析でどんな未来を創造するか――Data Strategy &amp; Operation Centerの歩み【Sansan Builders Box】 (1/2)：CodeZine（コードジン）</a></li>
      </ul>
    </li>
    <li>2018/07/18<strong>「自然言語処理(NLP)領域に関わっていると避けては通れないあの話」</strong>
      <ul>
        <li><a href="https://jp.corp-sansan.com/blog/2018/08/repo_nlp.html">「自然言語処理領域に関わっていると避けては通れないあの話」勉強会レポート | Sansan公式メディア「mimi」</a></li>
      </ul>
    </li>
    <li>2017/07/20<strong>「リクルートにおけるAI活用」</strong> <a href="http://www.ipsj.or.jp/kenkyukai/event/ics188.html">第188回ICS研究発表会</a>
    </li>

    <li>2017/07/10 <strong>「リクルートの現場事例から紐解く「AI」技術のビジネス活用のリアル」</strong> <a href="https://crowdworks.doorkeeper.jp/events/61595">
        <RECRUIT×Rakuten×CrowdWorks>最新事例に学ぶ！AI×クラウドソーシング活用セミナー
      </a>
    </li>
    <li>2017/07/07 <strong>「リクルートの現場事例から紐解く「AI」技術のビジネス活用のリアル」</strong> <a href="http://www.sigwi2.org/cfano10">第10回Webインテリジェンスとインタラクション研究会</a>
    </li>
    <li> 2017/06/24 <strong>「リクルートグループの現場事例から見るAI/ディープラーニング技術のビジネス活用と、”A3RT” 外部公開の裏側」</strong> <a href="http://db-event.jpn.org/soc2017/">SoC2017 – 第8回ソーシャルコンピューティングシンポジウム</a>
    </li>
    <li> 2017/05/31 <strong>「リクルートが展開する機械学習API「A3RT」と、基盤としてのクラウド活用について」</strong> <a href="https://expo.nikkeibp.co.jp/cloud/ngy/17/">Cloud Days 名古屋 2017</a>
      <ul>
        <li><a href="https://tech.nikkeibp.co.jp/it/atcl/column/17/052900220/053100007/?rt=nocnt">リクルートが機械学習ソリューション「A3RT」の全容を、Cloud Days 名古屋で講演 | 日経 xTECH（クロステック）</a>
        </li>
        <li><a href="https://recruit-tech.co.jp/news/170531_001935.html">Cloud Days 2017 ＜名古屋＞に弊社エンジニアが登壇しました。～リクルートが展開する機械学習API「A3RT」と基盤としてのクラウド活用について ［ビッグデータ部 奥田裕樹・松田徹也］｜ニュース｜株式会社リクルートテクノロジーズ</a>
        </li>
      </ul>
    </li>
    <li>
      2017/03/03 <strong>リクルートグループの現場事例から見るAI／ディープラーニング　ビジネス活用の勘所</strong> <a href="https://itmedia.smartseminar.jp/public/seminar/view/978">@ITセミナー 最先端事例に学ぶ AI/ビッグデータ/IoTの「リアル」 ～企業活用のために今必要なこと～</a>
      <ul>
        <li><a href="https://recruit-tech.co.jp/news/170303_000981.html">＠ITセミナー「最先端事例に学ぶAI/ビッグデータ/IoTのリアル」に弊社エンジニアが登壇しました。～リクルートグループの現場事例から見る AI／ディープラーニング　ビジネス活用の勘所 ［ビッグデータ部 奥田裕樹］｜ニュース｜株式会社リクルートテクノロジーズ</a></li>
      </ul>
    </li>
  </ul>
  <h3>ハッカソンサポート</h3>
  <ul>
    <li>2018/10/27-28 <strong><a href="https://sites.google.com/view/dsweek-2018/home"> PRIMA 2018 データ解析＆シミュレーション ハッカソン 2018</a></strong>
      <ul>
        <li><a href="https://arg-corp.jp/2018/11/07/docmas/">DOCMAS研究会主催のデータ解析＆シミュレーションハッカソン2018の企画・運営を支援 | アカデミック・リソース・ガイド株式会社（ARG）| ACADEMIC RESOURCE GUIDE (ARG)</a></li>
      </ul>
    </li>
    <li>2017/06/23-25 <strong><a href="http://ai.hackathon.com/">AI HACKATHON.COM SERIES</a></strong>
      <ul>
        <li><a href="https://ai-hackathon.connpass.com/event/51827/">Global AI Hackathon Tokyo - connpass</a></li>
        <li><a href="https://ai-hackathon.connpass.com/event/57949/">AI Hackathon事前情報インプット勉強会（その1）「A3RT」 - connpass</a></li>
      </ul>
    </li>
  </ul>
</div>
