<div class="profile">
  <h2>経歴</h2>
  <ul>
    <li><a href="https://jp.corp-sansan.com/">Sansan株式会社</a> DSOC 研究員 (2018/01-)</li>
    <li><a href="https://recruit-tech.co.jp/">株式会社リクルートテクノロジーズ</a> (2015/4 - 2017/12)</li>
    <li><a href="http://www.naist.jp/">奈良先端科学技術大学院大学</a> 情報科学研究科 修士 (2013/4 - 2015/3)
    </li>
  </ul>
  <h2>ブログ</h2>
  <ul>
    <li><a href="https://yag-ays.github.io/">https://yag-ays.github.io/</a> </li>
    <li><a href="http://wolfin.hatenablog.com/">http://wolfin.hatenablog.com/</a></li>
    <li><a href="http://yag.xyz/blog/">http://yag.xyz/blog/</a> (2015/2 - 2016/7)</li>
    <li><a href="http://yagays.github.io/">http://yagays.github.io/</a> (2012/5 - 2015/3)</li>
  </ul>
  <h2>掲載記事</h2>
  <h3>インタビュー</h3>
  <ul>
    <li><a href="https://enterprisezine.jp/dbonline/detail/11179">データという水を得た魚となり情報科学の研究へ――Sansan DSOC 奥田裕樹さん (1/3)：EnterpriseZine（エンタープライズジン）</a></li>
  </ul>
  <h3>メディア・講演</h3>
  <ul>
    <li><a href="https://jp.corp-sansan.com/blog/2018/08/repo_nlp.html">「自然言語処理領域に関わっていると避けては通れないあの話」勉強会レポート | Sansan公式メディア「mimi」</a></li>
    <li><a href="https://recruit-tech.co.jp/news/170303_000981.html">＠ITセミナー「最先端事例に学ぶAI/ビッグデータ/IoTのリアル」に弊社エンジニアが登壇しました。～リクルートグループの現場事例から見る AI／ディープラーニング　ビジネス活用の勘所 ［ビッグデータ部 奥田裕樹］｜ニュース｜株式会社リクルートテクノロジーズ</a></li>
    <li><a href="https://tech.nikkeibp.co.jp/it/atcl/column/17/052900220/053100007/">リクルートが機械学習ソリューション「A3RT」の全容を、Cloud Days 名古屋で講演 | 日経 xTECH（クロステック）</a></li>
    <a href="https://recruit-tech.co.jp/news/170707_001960.html">第10回Webインテリジェンスとインタラクション研究会の技術報告セッションに、弊社エンジニアが登壇しました。～リクルートの現場事例から紐解く「AI」技術のビジネス活用のリアル ［ビッグデータ部 奥田裕樹］｜ニュース｜株式会社リクルートテクノロジーズ</a>
    <a href="http://www.ipsj.or.jp/kenkyukai/event/ics188.html">第188回ICS研究発表会-情報処理学会</a>
    <a href="https://ledge.ai/rtc_interview/">A3RTを生んだリクルートテクノロジーズに聞く、AIの社内導入の意義 | Ledge.ai</a>
    <a href="https://thinkit.co.jp/article/11820">データ収集にはオープンソース化よりAPI提供が適している―リクルート「A3RT」無料公開の裏側 | Think IT（シンクイット）</a>
  </ul>
</div>
