<div class="profile">
  <h2>経歴</h2>
  <ul>
    <li><a href="https://jp.corp-sansan.com/">Sansan株式会社</a> DSOC 研究員 (2018/01-)</li>
    <li><a href="https://recruit-tech.co.jp/">株式会社リクルートテクノロジーズ</a> (2015/4 - 2017/12)</li>
    <li><a href="http://www.naist.jp/">奈良先端科学技術大学院大学</a> 情報科学研究科 修士 (2013/4 - 2015/3)
    </li>
  </ul>
  <h2>ブログ</h2>
  <ul>

    <li><a href="https://yag-ays.github.io/">https://yag-ays.github.io/</a> </li>
    <li><a href="http://wolfin.hatenablog.com/">http://wolfin.hatenablog.com/</a></li>
    <li><a href="http://yag.xyz/blog/">http://yag.xyz/blog/</a> (2015/2 - 2016/7)</li>
    <li><a href="http://yagays.github.io/">http://yagays.github.io/</a> (2012/5 - 2015/3)</li>
  </ul>
  <h2>ウェブサイト</h2>
  <ul>
    <li><a href="https://qiita.com/yagays">https://qiita.com/yagays</a></li>
    <li><a href="https://github.com/yagays">https://github.com/yagays</a></li>
    <li><a href="https://twitter.com/yag_ays">https://twitter.com/yag_ays</a></li>
    <li><a href="https://www.linkedin.com/in/yukiokuda/">https://www.linkedin.com/in/yukiokuda/</a></li>
  </ul>
  <h2>外部発信</h2>
  <h3>インタビュー</h3>
  <ul>
    <li><a href="https://enterprisezine.jp/dbonline/detail/11179">データという水を得た魚となり情報科学の研究へ――Sansan DSOC 奥田裕樹さん (1/3)：EnterpriseZine（エンタープライズジン）</a></li>
    <li><a href="https://mikata.shingaku.mynavi.jp/article/45912/">【シゴトを知ろう】データサイエンティスト 編</a></li>
    <li><a href="https://mikata.shingaku.mynavi.jp/article/45913/">【シゴトを知ろう】データサイエンティスト ～番外編～</a></li>
  </ul>
  <h3>メディア</h3>
  <ul>
    <li><a href="https://employment.en-japan.com/engineerhub/entry/2019/01/22/103000">自然言語処理をサービスで活用しよう！ Sansanに学ぶ「多種多様なテキスト」からのデータ分析</a></li>
  </ul>
  <h3>ポスター発表</h3>
  <ul>
    <li>2020/11/20-23<strong>「ニュース記事からの企業ワード検索」</strong> <a href="https://www.anlp.jp/nlp2020/index.html">NLP2020 | 言語処理学会第26回年次大会</a></li>
    <ul>
      <li><a href="https://speakerdeck.com/sansanbuildersbox/company-keyword-extraction-from-news-articles">ニュース記事からの企業ワード検索 / Company keyword extraction from news articles - Speaker Deck</a></li>
    </ul>
    <li>2019/11/20-23<strong>「大規模ネットワークにおけるノードの属性情報を利用した未知ノードのグラフ埋め込みの近似」</strong> <a href="http://ibisml.org/ibis2019/">IBIS2019 | 第22回情報論的学習理論ワークショップ</a></li>
    <ul>
      <li><a href="https://buildersbox.corp-sansan.com/entry/2019/12/03/110000">IBIS2019にてSansanから2件のポスター発表を行いました</a></li>
    </ul>
    <li>2018/11/3-7 <strong>「Bidirectional LSTMを用いた日本語氏名の姓名分割」</strong> <a href="http://ibisml.org/ibis2018/">IBIS2018 | 第21回情報論的学習理論ワークショップ</a>
      <ul>
        <li><a href="https://buildersbox.corp-sansan.com/entry/2018/11/16/113000">【レポート】IBIS2018で発表してきました - Sansan Builders Box</a></li>
      </ul>
    </li>
  </ul>
  <h3>講演</h3>
  <ul>
    <li>2020/03/03 <strong>名刺を超えて人や企業を検索する - Sansanにおける検索システムへの取り組み</strong> <a href="https://db-event.jpn.org/deim2020/">DEIM2020</a>
      <ul>
        <li><a href="https://speakerdeck.com/sansanbuildersbox/building-search-for-people-and-businesses-beyond-business-cards">名刺を超えて人や企業を検索する - Sansanにおける検索システムへの取り組み / Building Search for People and Businesses Beyond Business Cards - Speaker Deck</a></li>
        <li><a href="https://buildersbox.corp-sansan.com/entry/2020/03/16/110000">オンライン開催となったDEIM2020に協賛企業として参加しました - Sansan Builders Box</a></li>
      </ul>
    </li>
    <li>2019/07/13 <strong>名刺とニュースを紐付ける – 深層学習を用いた記事文章からの企業名抽出</strong> <a href="https://ccse.jp/2019/">CCSE2019</a>
      <ul>
        <li><a href="https://speakerdeck.com/sansanbuildersbox/company-name-extraction-by-deep-neural-network">名刺とニュースを紐付ける / Company Name Extraction by Deep Neural Network - Speaker Deck</a></li>
        <li><a href="https://buildersbox.corp-sansan.com/entry/2019/07/23/110000">企業研究に特化したカンファレンスCCSE2019にDSOCが参加しました - Sansan Builders Box</a></li>
      </ul>
    </li>
    <li>2019/04/24 <strong>多値分類における階層構造を利用したマルチタスク学習とその解釈性</strong> 【Sansan×エムスリー】自然言語処理勉強会
      <ul>
        <li><a href="https://buildersbox.corp-sansan.com/entry/2019/04/27/110000">「【Sansan×エムスリー】自然言語処理勉強会」を開催しました - Sansan Builders Box</a></li>
        <li><a href="https://speakerdeck.com/sansanbuildersbox/multi-task-learning-for-solving-hierarchical-multilabel-classification-and-its-interpretability">多値分類における階層構造を利用したマルチタスク学習とその解釈性 / Multi-task Learning for solving hierarchical multilabel classification and its interpretability - Speaker Deck</a></li>
      </ul>
    </li>
    <li>2019/01/30 <strong>「単語埋め込みに関連した応用事例の紹介」</strong><a href="https://sansan.connpass.com/event/116853/">【京都開催】第一回SIL勉強会 自然言語処理編</a>
      <ul>
        <li><a href="https://speakerdeck.com/sansanbuildersbox/case-study-in-word-embedding">単語埋め込みに関連した応用事例の紹介 / Case Study in Word Embedding - Speaker Deck</a>
        </li>
        <li><a href="https://buildersbox.corp-sansan.com/entry/2019/02/19/110000">「第一回SIL勉強会 自然言語処理編」を開催しました \- Sansan Builders Box</a></li>
      </ul>
    </li>
    <li>2018/11/10 <strong>「文字のゆらぎをどう扱うか？ - Sansanにおける自然言語処理の活用」</strong><a href="https://jp.corp-sansan.com/sbb2018/">Sansan Builders Box 2018</a>
      <ul>
        <li><a href="https://speakerdeck.com/sansanbuildersbox/how-to-handle-orthographical-variants">文字のゆらぎをどう扱うか？ - Sansanにおける自然言語処理の活用/How to handle orthographical variants? - Speaker Deck</a></li>
        <li><a href="https://codezine.jp/article/detail/11264">Sansanはデータ分析でどんな未来を創造するか――Data Strategy &amp; Operation Centerの歩み【Sansan Builders Box】 (1/2)：CodeZine（コードジン）</a></li>
      </ul>
    </li>
    <li>2018/07/18<strong>「自然言語処理(NLP)領域に関わっていると避けては通れないあの話」</strong>
      <ul>
        <li><a href="https://jp.corp-sansan.com/blog/2018/08/repo_nlp.html">「自然言語処理領域に関わっていると避けては通れないあの話」勉強会レポート | Sansan公式メディア「mimi」</a></li>
      </ul>
    </li>
    <li>2017/07/20<strong>「リクルートにおけるAI活用」</strong> <a href="http://www.ipsj.or.jp/kenkyukai/event/ics188.html">第188回ICS研究発表会</a>
    </li>

    <li>2017/07/10 <strong>「リクルートの現場事例から紐解く「AI」技術のビジネス活用のリアル」</strong> <a href="https://crowdworks.doorkeeper.jp/events/61595">
        <RECRUIT×Rakuten×CrowdWorks>最新事例に学ぶ！AI×クラウドソーシング活用セミナー
      </a>
    </li>
    <li>2017/07/07 <strong>「リクルートの現場事例から紐解く「AI」技術のビジネス活用のリアル」</strong> <a href="http://www.sigwi2.org/cfano10">第10回Webインテリジェンスとインタラクション研究会</a>
    </li>
    <li> 2017/06/24 <strong>「リクルートグループの現場事例から見るAI/ディープラーニング技術のビジネス活用と、”A3RT” 外部公開の裏側」</strong> <a href="http://db-event.jpn.org/soc2017/">SoC2017 – 第8回ソーシャルコンピューティングシンポジウム</a>
    </li>
    <li> 2017/05/31 <strong>「リクルートが展開する機械学習API「A3RT」と、基盤としてのクラウド活用について」</strong> <a href="https://expo.nikkeibp.co.jp/cloud/ngy/17/">Cloud Days 名古屋 2017</a>
      <ul>
        <li><a href="https://tech.nikkeibp.co.jp/it/atcl/column/17/052900220/053100007/?rt=nocnt">リクルートが機械学習ソリューション「A3RT」の全容を、Cloud Days 名古屋で講演 | 日経 xTECH（クロステック）</a>
        </li>
        <li><a href="https://recruit-tech.co.jp/news/170531_001935.html">Cloud Days 2017 ＜名古屋＞に弊社エンジニアが登壇しました。～リクルートが展開する機械学習API「A3RT」と基盤としてのクラウド活用について ［ビッグデータ部 奥田裕樹・松田徹也］｜ニュース｜株式会社リクルートテクノロジーズ</a>
        </li>
      </ul>
    </li>
    <li>
      2017/03/03 <strong>リクルートグループの現場事例から見るAI／ディープラーニング　ビジネス活用の勘所</strong> <a href="https://itmedia.smartseminar.jp/public/seminar/view/978">@ITセミナー 最先端事例に学ぶ AI/ビッグデータ/IoTの「リアル」 ～企業活用のために今必要なこと～</a>
      <ul>
        <li><a href="https://recruit-tech.co.jp/news/170303_000981.html">＠ITセミナー「最先端事例に学ぶAI/ビッグデータ/IoTのリアル」に弊社エンジニアが登壇しました。～リクルートグループの現場事例から見る AI／ディープラーニング　ビジネス活用の勘所 ［ビッグデータ部 奥田裕樹］｜ニュース｜株式会社リクルートテクノロジーズ</a></li>
      </ul>
    </li>
  </ul>
  <h3>ハッカソンサポート</h3>
  <ul>
    <li>2018/10/27-28 <strong><a href="https://sites.google.com/view/dsweek-2018/home"> PRIMA 2018 データ解析＆シミュレーション ハッカソン 2018</a></strong>
      <ul>
        <li><a href="https://arg-corp.jp/2018/11/07/docmas/">DOCMAS研究会主催のデータ解析＆シミュレーションハッカソン2018の企画・運営を支援 | アカデミック・リソース・ガイド株式会社（ARG）| ACADEMIC RESOURCE GUIDE (ARG)</a></li>
      </ul>
    </li>
    <li>2017/06/23-25 <strong><a href="http://ai.hackathon.com/">AI HACKATHON.COM SERIES</a></strong>
      <ul>
        <li><a href="https://ai-hackathon.connpass.com/event/51827/">Global AI Hackathon Tokyo - connpass</a></li>
        <li><a href="https://ai-hackathon.connpass.com/event/57949/">AI Hackathon事前情報インプット勉強会（その1）「A3RT」 - connpass</a></li>
      </ul>
    </li>
  </ul>
</div>
